<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title><%= @resource.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body {
        margin: 0;
        background-color: #fcfcfc;
      }

      @media (min-width: 640px) {

      }
      @media (max-width: 640px) {
        .container {
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: column;
          flex-direction: column;
        }
        .image {
          width: 100%;
        }
        .image img {
          max-width: 100%;
          height: auto;
        }
        .article {
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: column;
          flex-direction: column;
          padding: 5px 20px;
        }
        .name {
          font-size: 14px;
          font-weight: bold;
        }
        .title {
          font-size: 17px;
        }
        .description {
          font-size: 15px;
        }
        .action {
          display: -webkit-flex;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 15px;
          width: 100%;
          height: 50px;
          background-color: grey;
          color: white;
        }
      }
      @media (orientation: portrait) {

      }
      @media (orientation: landscape) {

      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="image">
        <img src="<%= @resource.image %>"/>
      </div>
      <div class="article">
        <p class="name"><%= @resource.title %></p>
        <h1 class="title">Hello world.</h1>
        <p class="description">This is sample for Regista</p>
        <a class="action">Open the App</a>
      </div>
    </div>
  </body>
</html>
